<div class="item">
    <h2 class="logo"><i class='bx bxs-building'></i>LOGO</h2>
    <div class="text-item">
        <h2>¡Bienvenido! <br><span>
            Estamos escantados de tenerte de nuevo.
        </span></h2>
        <p>Gracias a ti, estamos creciendo más allá de nuestras expectativas. 
            Compartamos el éxito cada día.</p>
        <div class="social-icon">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
            <a href="#"><i class='bx bxl-tiktok'></i></a>
        </div>
    </div>
</div>

